<!DOCTYPE html>
<html>
<head>
  <title>Get Your Rap Name</title>
</head>
<body>
  <h1>Rap Name Generator</h1>
  <form action="/rap_name" method="post">
    <label for="name">Enter your name:</label>
    <input type="text" name="name" required>
    <br>
    <label for="last_purchase">Enter the last thing you bought:</label>
    <input type="text" name="last_purchase" required>
    <br>
    <input type="submit" value="Generate Rap Name">
  </form>
</body>
</html>
