<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Your Rap Name</h5>
    <p class="card-text">Hey, <%= @name %>! Your new rap name is '<%= @rap_name %>'. Enjoy!</p>
  </div>
</div>
